{% extends "global/Base.html" %} {% load staticfiles otree_tags %}

{% block title %}
    Questionnaire: Page 2 of 4
{% endblock %}

{% block content %}
<p>
    Thank you for your participation. We kindly ask you to respond to the following questions while
    we organize the payment of your earnings. To give you more privacy you are encouraged to directly
    respond each one of the questions. However, if you feel more comfortable if someone reads the questions
    for you, please let us know. One of our team members will be happy to read the questionnaire for you.<br>
    <br>
</p>

<p>
    How connected do you feel, from <b>1 (very bonded)</b> to <b>7 (not bonded at all)</b>, to:
</p>
    {% formfield player.identification1 %}

    {% formfield player.identification2 %}

    {% formfield player.identification3 %}

    {% formfield player.identification4 %}

<p>
    <br>
    <br>
    Please mark for each one of these statements from <b>1 (very true for me)</b> to <b>7 (not true for me)</b>:
</p>
    {% formfield player.belief_recipr1 %}

    {% formfield player.belief_recipr2 %}

    {% formfield player.positive_recipr1 %}

    {% formfield player.positive_recipr2 %}

    {% formfield player.positive_recipr3 %}

    {% formfield player.negative_recipr1 %}

    {% formfield player.negative_recipr2 %}

    {% formfield player.negative_recipr3 %}

    {% next_button %}

{% endblock %}
