{% extends "global/Base.html" %} {% load staticfiles otree_tags %}

{% block title %}
    第一阶段: 公共账户投资<br>
    轮次： {{ subsession.round_number }} / {{ Constants.num_rounds }} <br>
{% endblock %}

{% block content %}

<p>
    现在您要决定给公共账户多少筹码。<br>
    本组其他人的民族是:
    {{ player.get_others_in_group.0.get_ethnicity }}族, {{ player.get_others_in_group.1.get_ethnicity }}族 和
    {{ player.get_others_in_group.2.get_ethnicity }}族.
    <br>
    请做决定。<br>
</p>

    {% formfield player.contribution with label="您想放多少筹码到公共账户中？" %}
    <p>
        填好数字后，请点击蓝色按钮 <b>“下一页”</b> 确认。请注意，一旦确认，不能再改。<br>
        <br>
    </p>
    {% next_button %}

    {% if subsession.round_number > 1 %}
        {% include 'pgfield_ch/History_pg_ch.html' %}
    {% endif %}

    {% include 'pgfield_ch/Instructions_ch.html' %}

{% endblock %}