{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    问题解析
{% endblock %}

{% block content %}

    {% if player.question_pg1 == Constants.question_pg1_correct %}
    <p class="text-success">
    关于第二环节<b>开始前</b>您您的收益，您的回答{{player.question_pg1}}是正确的。
    </p>
    {% else %}
    <p class="text-danger">
    关于第二环节<b>开始前</b>您您的收益，您的回答{{player.question_pg1}}是错误的。
    </p>
    {% endif %}
        {% if player.question_pg2 == Constants.question_pg2_correct %}
    <p class="text-success">
    关于第二环节<b>结束后</b>您的收益，您的回答{{player.question_pg2}}是正确的。
    </p>
    {% else %}
    <p class="text-danger">
    关于第二环节<b>结束后</b>您的收益，您的回答{{player.question_pg2}}是错误的。
    </p>
    {% endif %}

    <p>
        在每轮开始时每个人都有10点的初始筹码。<br>
        假设在<b>第一环节</b>：<br>
        您给了公共账户5点筹码，<br>
        其他三个人分别给了公共账户10、8、1点筹码。<br>
        <br>
        然后，在<b>第二环节</b>
        您用了<b>一</b>张反对卡，<br>
        其他三个人总共给了您<b>一</b>张反对卡<br>
        <br>
    </p>
        在第二环节<b>开始前</b>和<b>结束后</b>您的收益分别是多少？<br>
    </p>

    <p>
        <strong>答案：在第二环节<b>开始前</b>， 您有17点筹码。在第二环节 <b>结束后</b>，您有10点筹码。</strong>
    </p>

    <p>
        <strong>分析解答:</strong><br>
        所有人总共往公共账户里放了10 + 8 + 5 + 1 = 24 点筹码，所以公共项目共获益 24 x <b>2</b> = 48 点筹码。<br>
        公共项目的收益<b>平均分</b>给四个人，每个人得到48 / 4 = 12 点筹码。 <br>
        因此，在<b>第二环节开始前</b>，您有 10 - 5 + 12 = 17 点筹码。<br>
        <br>
        在第二环节，您用了一张反对卡，因此您少了<b>2</b>点筹码。<br>
        其他三个人加起来给了您一张反对卡，您因此少了<b>5</b>点筹码。<br>
        因此，在<b>第二环节结束后</b>，您有17 - 2 - 5 = 10 点筹码。<br>
    </p>

    <p>
        请耐心等待，等听到工作人员的指示后，再点击<b>“下一页”</b>蓝色按钮。<br>
        <br>
    </p>
    {% next_button %}

    {% include 'pgfield_ch/Instructions_ch.html' %}

{% endblock %}