{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    问题解析
{% endblock %}

{% block content %}

    {% if player.question_pg1 == Constants.question_pg1_correct %}
    <p class="text-success">
    第一问，您关于参与者A回报的回答{{player.question_pg1}}是正确的。
    </p>
    {% else %}
    <p class="text-danger">
    第一问，您关于参与者B回报的回答{{player.question_pg1}}是错误的。
    </p>
    {% endif %}
        {% if player.question_pg2 == Constants.question_pg2_correct %}
    <p class="text-success">
    第二问，您关于参与者A回报的回答{{player.question_pg2}}是正确的。
    </p>
    {% else %}
    <p class="text-danger">
    第二问，您关于参与者B回报的回答{{player.question_pg2}}是错误的。
    </p>
    {% endif %}

    <p>
        在每轮开始时每个人都有10点的初始筹码。<br>
        假设第一阶段中：<br>
        参与者1贡献了10点筹码给公共账户，<br>
        参与者2贡献了8点筹码，<br>
        参与者3贡献了5点筹码，<br>
        参与者4贡献了1点筹码。<br>
        <br>
        然后，在第二阶段
        参与者3使用了1点反对筹码，<br>
        另外，他/她收到了1点来自其他参与者的反对筹码。<br>
        <br>
    </p>
        在第二阶段开始之前和结束之后参与者3分别拥有多少筹码？<br>
    </p>

    <p>
        <strong>答案：在第二阶段<b>开始之前</b>， 他/她有17点筹码。在第二阶段 <b>结束之后</b>，他/她有13点筹码。</strong>
    </p>

    <p>
        <strong>解析:</strong><br>
        第一阶段，所有参与者共向公共账户投资了10+8+5+1=24点筹码。因此，公共账户的总额是24 x 2=48点筹码。<br>
        将公共账户中的筹码数平分之后，每个参与者得到48/4=12点筹码。<br>
        所以，在第二阶段<b>开始之前</b>，参与者3拥有的筹码数量为 10-5+12=17。<br>
        <br>
        然后，参与者3对其他参与者使用了1点反对筹码。<br>
        为此，他/她支付了1点筹码。<br>
        另外，他/她收到了1点反对筹码。<br>
        为此，他/她又失去了3点筹码。<br>
        所以，在第二阶段<b>结束之后</b>，参与者3拥有的筹码数量为 17-1-3=13。<br>
    </p>
    <p>
        请耐心等待，等听到工作人员的指示后，再点击<b>“下一步”</b>按钮。<br>
        <br>
    </p>
    {% next_button %}

    {% include 'pgfield_ch/Instructions_ch.html' %}

{% endblock %}