{% extends "global/Base.html" %} {% load staticfiles otree_tags %}

{% block title %}
    最终结果：第二部分
{% endblock %}

{% block content %}

<h4>历史收益</h4>
<table class="table">
    <table class="table">
        <tr>
            <th style="text-align:center">轮次</th>
            <th>筹码</th>
        </tr>
        {% for p in player.in_all_rounds %}
            <tr>
                <td align="center">{{ p.subsession.round_number }}</td>
                <td>您得到 {{ p.prepayoff }}</td>
            </tr>
        {% endfor %}
    </table>
</table>

<br>
您总共从{{ Constants.num_rounds }}轮中得到<b>{{ payoff_block2 }}</b>筹码<br>
<br>
<p>
    请耐心等待，等听到工作人员的指示后，再点击<b>“下一步”</b>按钮。<br>
    <br>
</p>
    {% next_button %}

{% endblock %}