{% extends "global/GameHistory_ch.html" %}

{% block gamehistory %}

    <!--<big><i>Your history of the game</i></big>-->
    <table class="table">
        <tr>
            <th style="text-align:center">轮次</th>
            <th>筹码</th>
        </tr>
        {% for p in player.in_previous_rounds %}
            <tr>
                <td align="center">{{ p.subsession.round_number }}</td>
                <td>您得到 {{ p.prepayoff }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}