{% extends "global/Instructions_ch.html" %}

{% block instructions %}

<p>
    <b>第一环节: 公共账户投资</b><br>
    您将和其他三（3）个人随机组成一组。
    你们每个人开始时都有<b>{{ Constants.endowment }}</b>筹码。
    您需要决定要从您的{{ Constants.endowment }}筹码中取出多少给公共账户。
    这完全取决于您。
    您或其他三个人给公共账户的每个筹码，都会被乘以<b>{{ Constants.effic_factor }}</b>后放入公共账户。
    不论你们往公共账户里放了多少钱，公共账户里的钱将在{{ Constants.players_per_group }}个人中<b>平分</b>。<br>
    <br>
    <b>第二环节：发反对卡</b><br>
    开始时， 您将看到在前一环节中组里其他人分了多少筹码给公共账户。
    <!--At this stage you can also reduce the income of each group member by distributing disapproval points.<br>-->
    您需要决定要不要给组里其他人发<b>一</b>张反对卡。
    您每发一张反对卡给别人，您的收益将减少<b>{{ Constants.punish_cost }} </b> 点筹码。<br>
    收到反对卡的人的收益将减少<b>{{ Constants.punish_tech }} </b>点筹码。<br>
    只要他们想，组里其他人也可以发反对卡给您。<br>
    针对组里每个人，您都需要选择“发”或“不发”一张反对卡给他/她，。<br>
    您发的反对卡越多，您出的成本就越高。<br>
    <!--Each disapproval point a group member receives will reduce his income in {{ Constants.punish_tech }} points.<br>-->
    <br>
</p>

{% endblock %}

