{% extends "global/Instructions_ch.html" %}

{% block instructions %}

<p>
    <b>第一阶段: 公共账户投资</b><br>
    电脑将所有人随机分组，四人一组，小组成员在五轮中保持不变。
    每轮开始时每个人有<b>{{ Constants.endowment }}</b>筹码。
    您需要把{{ Constants.endowment }}筹码在公共账户和您的私人账户之间分配。
    分配多少筹码给公共账户完全取决于您。
    剩下的筹码将留在您的私人账户上。
    您和组内其他参与者分配给公共账户的所有筹码我们都将乘以<b>{{ Constants.effic_factor }}</b>，作为公共账户的投资回报。
    所有公共账户的投资回报将在{{ Constants.players_per_group }}个人中<b>平分</b>。<br>
    <br>
    <b>第二阶段：分配反对筹码</b><br>
    在这一阶段， 您将看到组内其他参与者在前一阶段中分配了多少筹码给公共账户。
    <!--At this stage you can also reduce the income of each group member by distributing disapproval points.<br>-->
    您需要决定给每个组内成员分别分配多少反对筹码。
    您每分配<b>1</b>点反对筹码给组内一个参与者，您的收益将<b>减少1点</b>筹码，而收到反对筹码的参与者将<b>损失3点</b>筹码。
    同样的，组内其他参与者也可以把反对筹码分配给您。<br>
    <br>
    您分配给其他三个人的反对筹码的总和不能超过<b>{{ Constants.endowment }}</b>。<br>
    如果您不想给某个组内成员分配反对筹码，请输入<b> 0</b>。<br>
    <!--Each disapproval point a group member receives will reduce his income in {{ Constants.punish_tech }} points.<br>-->
    <br>
</p>

{% endblock %}

