{% extends "pgfield_ch/Punishment_ch.html" %}
{% load staticfiles otree_tags %}
{% block myform %}
<tr>
    <td align="right">
        {% with player.get_others_in_group.0 as p %}
            参与者 {{ p.id_in_group }} ({{ p.get_ethnicity }} 族):<td align="center">{{ p.contribution }}
        {% endwith %}
    </td>
    <td>
        {% formfield player.punish_p1 with label="" %}
    </td>
</tr>
<tr>
    <td align="right">
        {% with player.get_others_in_group.1 as p %}
            参与者 {{ p.id_in_group }} ({{ p.get_ethnicity }} 族):<td align="center">{{ p.contribution }}
        {% endwith %}
    </td>
    <td>
        {% formfield player.punish_p2 with label="" %}
    </td>
</tr>
<tr>
    <td align="right">
        {% with player.get_others_in_group.2 as p %}
            参与者 {{ p.id_in_group }} ({{ p.get_ethnicity }} 族):<td align="center">{{ p.contribution }}
        {% endwith %}
    </td>
    <td>
        {% formfield player.punish_p3 with label="" %}
    </td>
</tr>
{% endblock %}
