{% extends "global/Base.html" %} {% load staticfiles otree_tags %}

{% block title %}
    第二环节：发反对卡<br>
    轮次：{{ subsession.round_number }} / {{ Constants.num_rounds }} <br>
{% endblock %}

{% block content %}

<table class="table-condensed" style="width:640px; margin-top:20px;">
    <tr>
        <td>
            您第一环节往公共账户里放了({{ player.id_in_group }}号)：<td align="center">{{ player.contribution }}
        <td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
            其他人第一环节分别往公共账户里放了
        <td>
        <td align="left">
            发不发反对卡？
        </td>
    </tr>
    {% block myform %}
    {% endblock %}
    <tr><td>你们组总共往公共账户里放的筹码数量：<td align="center">{{ group.total_contribution }}</tr>
    <tr><td>每个人从公共账户中得到的回报是：<td align="center" style="color:#0000ff">{{ group.individual_share }}</tr>
    <tr><td>在发反对卡之前您的收益是：<td align="center">{{ player.payoff_s1 }}</tr>
</table>

    <p>
        <br>
        一旦您做好了决定，请点击 <b>“下一页”</b>蓝色按钮确认。<br>
        <br>
    </p>

    {% next_button %}

    {% if subsession.round_number > 1 %}
        {% include 'pgfield_ch/History_pg_ch.html' %}
    {% endif %}

    {% include 'pgfield_ch/Instructions_ch.html' %}

{% endblock %}
