{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    理解测试
{% endblock %}

{% block content %}
    <p>
        开始时每个人都有10点的初始筹码。<br>
        假设在<b>第一环节</b>：<br>
        您给了公共账户5点筹码，<br>
        其他三个人分别给了公共账户10、8、1点筹码。<br>
        <br>
        然后，在<b>第二环节</b>
        您用了一张反对卡，<br>
        其他三个人总共给了您一张反对卡<br>
        <br>
    </p>
    <p>
        在第二环节<b>开始前</b>您有多少收益？<br>
    </p>

    {% formfield player.question_pg1 with label="我的收益是" %}

    <p>
        在第二环节<b>结束后</b>您有多少收益？<br>
    </p>

    {% formfield player.question_pg2 with label="我的收益是" %}
    <p>
        <br>
        一旦您做好了决定，请点击 <b>“下一页”</b>蓝色按钮确认。<br>
        <br>
    </p>
    {% next_button %}

    {% include 'pgfield_ch/Instructions_ch.html' %}

{% endblock %}