{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    理解测试
{% endblock %}

{% block content %}
    <p>
        假设第一阶段中：<br>
        参与者1贡献了10点筹码给公共账户，<br>
        参与者2贡献了8点筹码，<br>
        参与者3贡献了5点筹码，<br>
        参与者4贡献了1点筹码。<br>
        <br>
        然后，在第二阶段
        参与者3使用了1点反对筹码，<br>
        另外，他/她收到了1点来自其他参与者的反对筹码。<br>
        <br>
    </p>
    <p>
        在第二阶段<b>开始之前</b>参与者3拥有多少筹码？<br>
    </p>

    {% formfield player.question_pg1 with label="他/她的收益是" %}

    <p>
        在第二阶段<b>结束之后</b>参与者3拥有多少筹码？<br>
    </p>

    {% formfield player.question_pg2 with label="他/她的收益是" %}
    <p>
        一旦您做好了决定，请点击蓝色按钮 <b>“下一步”</b> 。请注意，一旦进入下一页，无法返回。<br>
        <br>
    </p>
    {% next_button %}

    {% include 'pgfield_ch/Instructions_ch.html' %}

{% endblock %}