{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    第二个游戏
{% endblock %}

{% block content %}

    <p>
    这是本次活动的<b>第二</b>个游戏。<br>
    <br>
    在这个部分，您会与其他{{ n_minus_one}}个人随机组成一个小组，编号1、2、3、4。<br>
    开始时，你们每个人将得到<b>{{ Constants.endowment }}</b>初始筹码。<br>
    <!--These points are in addition to the {{ Constants.showupfee }} Yuan-->
    <!--that you will get as your promised participation fee.<br>-->

    <br>
    <b>第一环节: 公共账户投资</b><br>
    <br>
    您需要决定要从您的<b>{{ Constants.endowment }}</b>筹码中拿出多少给公共账户。<br>
    这完全取决于您。<br>
    剩下的筹码将留在您的私人账户上。<br>
    您和组里其他人给公共账户的所有筹码，我们都将乘以<b>{{ Constants.effic_factor }}</b>后放入公共账户。<br>
    不论你们分别往公共账户里放了多少筹码，<br>
    公共账户的所有筹码将在组里<b>{{ Constants.players_per_group }}个人中平分</b>。<br>
    最终您能从公共账户里拿到的筹码数由您和组里其他三个人的选择决定。<br>
    <br>
    例如，让我们假设您给了公共账户 {{ endowment_2|floatformat:0 }}点筹码，
    而组里其他 {{ n_minus_one }} 个人总共给了公共账户{{ contrib_others_high|floatformat:0 }}点筹码，
    您将从公共账户中分到 (21+5) x {{ Constants.effic_factor }} / {{ Constants.players_per_group }}
    = {{ payoff_ex_high|floatformat:1 }} 点筹码。
    这些筹码将和您私人账户中的{{ endowment_2|floatformat:0 }}点筹码加总，因此您的总收益是{{ payoff_high|floatformat:0 }}点筹码。<br>
    <br>
    现在仍然假设您给了公共账户{{ endowment_2|floatformat:0 }}点筹码，
    但是组里其他 {{ n_minus_one }} 个人总共给了公共账户{{ contrib_others_low|floatformat:0 }}点筹码，
    您将从公共账户中分到(9+5) x {{ Constants.effic_factor }} / {{ Constants.players_per_group }}
    = {{ payoff_ex_low|floatformat:1 }} 点筹码。
    这些筹码将和您私人账户中的{{ endowment_2|floatformat:0 }}点筹码加总，所以您的总收益是{{ payoff_low|floatformat:0 }}点筹码。<br>
    <br>
    <b>第二环节：发反对卡</b><br>
    <br>
    在这一环节开始时， 您会看到组里其他人在上一环节分别给公共账户多少筹码。
    <!--At this stage you can also reduce the income of each group member by distributing disapproval points.<br>-->
    您需要决定要不要给组里其他人发<b>一</b>张反对卡。
    您每发一张反对卡给别人，您的收益将减少<b> {{ Constants.punish_cost }} </b>点筹码。<br>
    收到反对卡的人的收益将减少<b> {{ Constants.punish_tech }} </b>点筹码。<br>
    只要他们想，组里其他人也可以发反对卡给您。<br>
    <br>
    针对组里每个人，您都需要选择“发”或“不发”一张反对卡给他/她，。<br>
    您发的反对卡越多，您出的成本就越高。<br>
    <br>
    <!--Each disapproval point a group member receives will reduce his income in {{ Constants.punish_tech }} points.<br>-->
    <br>
    例如， 假设您总共发了两张反对卡<br>
    而您被发了一张反对卡，<br>
    您的总收益将因此减少9点：为了给组里两个人发反对卡，您需要付4点筹码；同时，您因为被发一张反对卡而失去5点筹码。<br>
    <br>

    </p>


    <p>
        请耐心等待，等听到工作人员的指示后，再点击<b>“下一页”</b>蓝色按钮。<br>
        <br>
    </p>
    {% next_button %}

{% endblock %}