{% extends "global/Instructions.html" %}

{% block instructions %}

<p>
    <b>First Stage: Allocation to the public fund</b><br>
    You have been matched with three (3) other participants.<br>
    Each group member, including you, has receive {{ Constants.endowment }}.<br>
    You decide how many of your {{ Constants.endowment }} you would like to allocate in the public fund.<br>
    That is completely of your choice.<br>
    Every point allocated to the public fund, either by you or by any other group member,
    will be multiplied by {{ Constants.effic_factor }}.<br>
    The points in the public fund will be divided equally among the {{ Constants.players_per_group }} group members.<br>
    Every group member gets from the public fund exactly the same number of points, no matter how many they allocate in this fund.<br>
    <br>
    <b>Second Stage: Allocation of disapproval points</b><br>
    At the beginning of this stage you will see how many points each of the other group members allocated to the public fund.<br>
    <!--At this stage you can also reduce or leave equal the income of each group member by distributing disapproval points.<br>-->
    You decide if you allocate disapproval points to the other group members.<br>
    Each disapproval point a group member receives will reduce his income in {{ Constants.punish_tech }} points.<br>
    Each disapproval point you allocate to others reduces your income in 1 point.<br>
    The other group members can also allocate to you their disapproval points if the wish to.<br>
    You decide how many points to give to each of the other three group members. You must enter a number for each of them.<br>
    If you do not want to allocate disapproval points on a specific group member then you must enter zero (0).<br>
    You can distribute between 0 and {{ Constants.endowment }} points to each group member.<br>
    Your total costs are equal to the sum of the costs of disapproval points assigned to each of the other three group members.<br>
    <br>
</p>

{% endblock %}

