{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    同意书
{% endblock %}

{% block content %}

    <p>
    如果您有任何问题，请举手示意。我们的工作人员会为您个别解答。 <br>
    我们想再问您是不是愿意参加这次活动。<br>
    为了感谢您的参与，在活动的最后我们将给您现金，金额完全按游戏说明中写的方式来计算。 <br>
    <br>
    我们保证对于您提供的数据，研究人员将完全保密。<br>
    您的个人信息和您的游戏记录会分开保存。<br>
    <br>
    在这次活动中，您的参与是完全自愿的，在实验过程中您可以在任何时候无条件退出活动或者收回您提供的数据，不会有任何惩罚。<br>
    但是除了40元人民币的参与费，您不会得到任何额外报酬。<br>
    <br>
    如果您同意参加本次活动，请点击下面的<b>"同意"</b>。否则，点击<b>"不同意"</b>。<br>
    </p>

    {% formfield player.consent with label="我同意参加" %}

    <p>
        请耐心等待，等听到工作人员的指示后，再点击<b>“下一步”</b>蓝色按钮。<br>
        <br>
    </p>

    {% next_button %}

{% endblock %}