{% extends "global/Instructions_ch.html" %}

{% block instructions %}

{% if player.id_in_group == 1 %}
<p>
    您是参与者A。您将与一名由电脑随机选择的参与者B构成配对。
    您现在拥有{{ Constants.endowment }}的初始筹码，而参与者B没有任何筹码。
    您可以选择把一定数量的您{{ Constants.endowment }}的初始筹码分配给参与者B。
    您分配给参与者B的筹码数量，我们将翻3倍后给参与者B。（例如，如果您决定分配1点筹码给参与者B，参与者B将会得到3点筹码）分配的数量完全取决于您的决定。<br>
    <br>
    之后，参与者B将决定返还多少筹码给您。
    参与者B可以选择不返还您任何筹码，也可以选择返还他（她）得到的全部筹码，或者选择只返还其中一部分。返还的筹码数量完全取决于参与者B。
    您的收益等于您的剩余筹码（初始筹码 - 分配给参与者B的筹码）与参与者B给返还给您的筹码的总和。
    参与者B的收益则是扣去他（她）返还给您的筹码之后剩下的筹码（3*您分配的筹码 - 返还给您的筹码）。<br>
    <br>
</p>
{% else %}
<p>
    您是参与者B。您将与一名由电脑随机选择的参与者A构成配对。
    您没有初始筹码，而参与者A有{{ Constants.endowment }} 的初始筹码。
    参与者A需要决定是否将一部分初始筹码分配给您。
    参与者A给您的筹码数量，我们将翻3倍后给您。（例如，如果参与者A决定分配1点筹码给您，您将会得到3点筹码）
	分配给您的筹码数量完全取决于参与者A。参与者A可以选择不给您分配任何筹码，分配给您全部初始筹码，或者分配给您一部分初始筹码。<br>
    <br>
    之后，您可以决定要将您得到的筹码返还多少给参与者A。<br>
    您可以选择不给参与者A任何筹码，也可以选择返还您得到的全部筹码，也可以选择只返还其中一部分。<br>
    您的收益等于您的剩余筹码（3*参与者A分配的筹码 - 返还的筹码）。<br>
    参与者A的收益等于您返还给参与者A的筹码加上参与者A分配后剩余的筹码（（初始筹码 - 分配给您的筹码））。<br>
    <br>
</p>
{% endif %}

{% endblock %}