{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    理解测试
{% endblock %}

{% block content %}
    <p>
        最初参与者A有50点筹码，参与者B什么也没有。<br>
        假设参与者A分配给参与者B 30点筹码。<br>
        参与者B收到翻了3倍的筹码后，选择返还参与者A 50点筹码。<br>
        最后，参与者A和参与者B各有几点筹码？<br>
    </p>

    {% formfield player.question_trustA with label="参与者A获得了" %}

    {% formfield player.question_trustB with label="参与者B获得了" %}
    <p>
        如果您做好了决定，请点击蓝色按钮 <b>“下一步”</b> 。请注意，一旦进入下一页，无法返回。<br>
        <br>
    </p>
    {% next_button %}

    {% include 'trustfield_ch/Instructions_ch.html' %}

{% endblock %}