{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    理解测试
{% endblock %}

{% block content %}

{% if player.id_in_group == 1 %}

    <p>
        最初您有50点筹码，B没有筹码。<br>
        假设您分给B 30点筹码。<br>
        B收到翻了3倍（90点）的筹码后，返了您50点筹码。<br>
        最后，您和B分别有多少筹码？<br>
    </p>

    {% formfield player.question_trustA with label="我会有" %}

    {% formfield player.question_trustB with label="B会有" %}

{% else %}

    <p>
        最初您没有筹码，A有50点筹码。<br>
        假设A分给您30点筹码。<br>
        而您收到翻了3倍（90点）的筹码后，返了A 50点筹码。<br>
        最后，您和A分别有多少筹码？<br>
    </p>

    {% formfield player.question_trustA with label="A会有" %}

    {% formfield player.question_trustB with label="我会有" %}

{% endif %}

    <p>
        请您在输入答案后点击蓝色按钮 <b>“下一页”</b>确认 。<br>
        <br>
    </p>
    {% next_button %}

    {% include 'trustfield_ch/Instructions_ch.html' %}

{% endblock %}