{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    第一部分: 您的选择<br>
    轮次： {{ subsession.round_number }} / {{ Constants.num_rounds }}
{% endblock %}

{% block content %}

    <p>
        您是参与者B。参与者A分配给您 {{group.sent_amount}}个筹码，
        您得到{{tripled_amount}}个筹码。<br>
    </p>
{% if   subsession.round_number == 2 or subsession.round_number == 4  %}
    <p>
        参与者A认为自己的民族是 {{player.other_eth}}.<br>
    </p>
{% elif subsession.round_number == 3 or subsession.round_number == 5 %}
    <p>
        {% if player.other_relig != 'None (atheist)'%}
            参与者A认为自己信仰{{player.other_relig}}。<br>
        {% else %}
            参与者A认为自己没有宗教信仰。<br>
        {% endif %}
    </p>
{% endif %}

    {% formfield group.sent_back_amount with label="您决定返还多少筹码？" %}

    {% next_button %}

    {% include 'trustfield_ch/Instructions_ch.html' %}

{% endblock %}