{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    第一部分<br>
    {% if player.id_in_group == 1 %}
    您是参与者A
    {% else %}
    您是参与者B
    {% endif %}
{% endblock %}

{% block content %}

{% if player.id_in_group == 1 %}
<p>
    现在进行的是<b>第一部分</b> <br>
    <br>
	第一部分包含五轮重复实验，每轮实验将由两位不同角色的参与者（称“参与者A”和“参与者B”）组成一个小组共同完成。
	您的角色将由电脑随机生成并且在这五轮实验中保持不变。需要注意的是，每轮实验开始前您将会与另一位的不同角色的参与者随机配对，所以每轮与您配对的可能是不同的参与者。
	在第一部分实验的最后，我们将随机选取五轮实验中的一轮来计算您在这部分实验中的最终收益。<br>
	<br>
    您是参与者A。您将与一名由电脑随机选择的参与者B构成配对。
    您现在拥有{{ Constants.endowment }}的初始筹码，而参与者B没有任何筹码。
    您可以选择把一定数量的您{{ Constants.endowment }}的初始筹码分配给参与者B。
    您分配给参与者B的筹码数量，我们将翻3倍后给参与者B。（例如，如果您决定分配1个筹码给参与者B，参与者B将会得到3个筹码）分配的数量完全取决于您的决定。<br>
    <br>
    之后，参与者B将决定返还多少筹码给您。参与者B会知道您得到了{{ Constants.endowment }}的初始筹码。
    参与者B可以选择不返还您任何筹码，也可以选择返还他（她）得到的全部筹码，或者选择只返还其中一部分。返还的筹码数量完全取决于参与者B。
    您的收益等于您的剩余筹码（初始筹码 - 分配给参与者B的筹码）与参与者B给返还给您的筹码的总和。
    参与者B的收益则是除去他（她）返还给您的筹码之后剩下的筹码（3*您分配的筹码 - 返还给您的筹码）。<br>	
    <br>
</p>
{% else %}
<p>
    现在进行的是<b>第一部分</b> <br>
    <br>
	第一部分包含五轮重复实验，每轮实验将由两位不同角色的参与者（称“参与者A”和“参与者B”）组成一个小组共同完成。
	您的角色将由电脑随机生成并且在这五轮实验中保持不变。需要注意的是，每轮实验开始前您将会与另一位的不同角色的参与者随机配对，所以每轮与您配对的可能是不同的参与者。
	在第一部分实验的最后，我们将随机选取五轮实验中的一轮来计算您在这部分实验中的最终收益。<br>
	<br>
    您是参与者B。您将与一名由电脑随机选择的参与者A构成配对。
    您没有初始筹码，而参与者A有{{ Constants.endowment }} 的初始筹码。
    参与者A需要决定是否将一部分初始筹码分配给您。
    参与者A给您的筹码数量，我们将翻3倍后给您。（例如，如果参与者A决定分配1个筹码给您，您将会得到3个筹码）
	分配给您的筹码数量完全取决于参与者A。参与者A可以选择不给您分配任何筹码，分配给您全部初始筹码，或者分配给您一部分初始筹码。<br>
    <br>
    之后，您可以决定要将您得到的筹码返还多少给参与者A。参与者A知道您没有初始筹码。
    您可以选择不给参与者A任何筹码，也可以选择返还您得到的全部筹码，也可以选择只返还其中一部分。
    您的收益等于您的剩余筹码（3*参与者A分配的筹码 - 返还的筹码）。
    参与者A的收益等于您返还给参与者A的筹码加上参与者A分配后剩余的筹码（（初始筹码 - 分配给您的筹码））。<br>
    <br>
</p>
{% endif %}

    {% next_button %}

{% endblock %}