{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    欢迎
{% endblock %}

{% block content %}

    <p>
         欢迎您参与本次活动！
        <br>
        本次活动包含两个游戏和一个问卷。<br>
        <br>
        <b>第一个</b>游戏重复玩五轮。
        每轮游戏开始时电脑会将您与另一个人随机组成一组。<br>
        您在第一个游戏中的收益就是电脑随机选择的一轮游戏的结果。<br>
        <br>
        <b>第二个</b>游戏也重复玩五轮。<br>
        在第一轮游戏开始时您将与其他三个人随机组成一组。<br>
        在五轮实验中小组成员不变。
        您在第二个游戏的收益是所有五轮的结果的加总。 <br>
        <br>
        在两个游戏之后，请回答一份个人问卷。<br>
        <br>
        只要参加本次活动，您就能得到<b>20</b> 元的参与费。<br>
        我们预计完成整场实验需要两个半到三个小时。如果您完成了两个游戏，并回答了最后的问卷，您将额外得到<b>30</b>元作为奖励。<br>
        根据您的游戏结果，您还将得到额外的现金。<br>
        在活动结束后，我们会根据<b>1点筹码={{ exchange_rate }}元 </b>的转换率发钱给您。<br>
        <br>
        这次活动完全匿名。在整个游戏中中，任何人都不知道和自己一组的人是谁。<br>
        此外，您的收益，其他人也不知道。<br>
        我们保证对您的所有信息严格保密，仅用于科学研究。 .<br>
        <br>
        请不要跟其他人讲话。<br>
        选择，请回答下面的问题：<br>
        <br>
    </p>

    {% formfield player.ethnic_in with label="您的民族是？" %}
    {% formfield player.religion_in with label="您的宗教信仰是？" %}

    <p>
        请耐心等待，等听到工作人员的指示后，再点击<b>“下一步”</b>按钮。<br>
        <br>
    </p>

    {% next_button %}

{% endblock %}