{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    第一部分<br>
    {% if player.id_in_group == 1 %}
    您是参与者A
    {% else %}
    您是参与者B
    {% endif %}
{% endblock %}

{% block content %}

{% if player.id_in_group == 1 %}
<p>
	<br>
    第一部分包含五轮重复实验。<br>
    您的角色是由电脑随机分配并且在这五轮实验中保持不变。<br>
    每轮实验由两个不同角色的人（“参与者A”和“参与者B”）组成一个小组共同完成。<br>
    需要注意的是，每轮实验开始前电脑会将不同角色的人重新随机配对。<br>
	<br>
    您是参与者A。
    您现在拥有<b>{{ Constants.endowment }}</b>的初始筹码，而参与者B<b>没有</b>任何筹码。这个信息你们两都知道。<br>
    您可以选择把您{{ Constants.endowment }}的初始筹码的一部分给参与者B。
    您分配给参与者B的筹码数量，我们将<b>乘以3</b>后给参与者B。<br>
    您可以选择0到{{ Constants.endowment }}之间的任一整数。<br>
    之后，参与者B将决定返还多少筹码给您。<br>
    <br>
    <b>您的收益=您的初始筹码 - 分配给参与者B的筹码+参与者B给返还给您的筹码。</b> <br>
    <b>参与者B的收益=3*您分配的筹码 - 返还给您的筹码。</b> <br>
    <br>
    例如，如果参与者A分配给参与者B 10点筹码，而参与者B返还给参与者A 10点，那么最终参与者A有50-10+10=50点筹码，而参与者B有10*3-10=20点筹码。<br>
    如果参与者A分配给参与者B 40点筹码，而参与者B返还给参与者A 50点筹码，那么最终参与者A有50-40+50=60点筹码，而参与者B有40*3-50=70点筹码。<br>
    <br>
    在五轮游戏全部结束后，您会知道每一轮的参与者B返还了您多少筹码。<br>
    在第一部分实验的最后，我们将随机选取五轮实验中的一轮来计算您在这部分实验中的最终收益。<br>
    <br>
</p>
{% else %}
<p>
	<br>
    第一部分包含五轮重复实验。<br>
    您的角色是由电脑随机分配并且在这五轮实验中保持不变。<br>
    每轮实验由两个不同角色的人（“参与者A”和“参与者B”）组成一个小组共同完成。<br>
    需要注意的是，每轮实验开始前电脑会将不同角色的人重新随机配对。<br>
	<br>
    您是参与者B。
    您<b>没有</b>初始筹码，而参与者A有<b>{{ Constants.endowment }} </b>的初始筹码。这个信息你们两都知道。
    参与者A需要决定是否将一部分初始筹码分配给您。
    参与者A给您的筹码数量，我们将<b>乘以3</b>之后给您。
	参与者A可以选择0到{{ Constants.endowment }}之间的任一整数。<br>
    之后，您需要决定要将您得到的筹码返还多少给参与者A。
    <br>
    <b>您的收益=3*参与者A分配给您的筹码 - 返还的筹码。</b> <br>
    <b>参与者A的收益=参与者A分配后剩余的筹码（初始筹码 - 分配给您的筹码）+您返还给参与者A的筹码。</b> <br>
    <br>
    例如，如果参与者A分配给参与者B 10点筹码，而参与者B返还给参与者A 10点，那么最终参与者A有50-10+10=50点筹码，而参与者B有10*3-10=20点筹码。<br>
    如果参与者A分配给参与者B 40点筹码，而参与者B返还给参与者A 50点筹码，那么最终参与者A有50-40+50=60点筹码，而参与者B有40*3-50=70点筹码。<br>
    <br>
    在五轮游戏全部结束后，参与者A会知道您返还了他/她多少筹码。<br>
    在第一部分实验的最后，我们将随机选取五轮实验中的一轮来计算您在这部分实验中的最终收益。<br>
    <br>
</p>
{% endif %}
    <p>
        请耐心等待，等听到工作人员的指示后，再点击<b>“下一步”</b>按钮。<br>
        <br>
    </p>
    {% next_button %}

{% endblock %}