{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    欢迎
{% endblock %}

{% block content %}

    <p>
        欢迎您参与本次活动！
        <br>
        本次活动包含两个实验和最后的问卷。<br>
        <br>
        <b>第一</b>部分包含五轮重复实验。
        每轮实验开始时电脑会将您与不同的一名参与者随机配对。<br>
        最终电脑会随机选择一轮作为您在第一部分的收益。<br>
        <br>
        <b>第二</b>部分也包含五轮重复实验。<br>
        在第一轮实验开始时您将与其他三个人随机组成一组。<br>
        在五轮实验中小组成员不变。
        所有五轮实验的结果都被计入您在第二部分的收益。 <br>
        <br>
        最后我们将请您填写一份调查问卷来了解您的一些基本情况。<br>
        <br>
        只要参加本次活动，您就能得到 40 元的参与费。
        根据您和其他人在活动过程中的选择，您还将得到额外的现金。<br>
        在活动结束后，我们会根据<b>1点筹码={{ exchange_rate }}元 </b>的转换率给您现金报酬。<br>
        <br>
        这次活动完全匿名。在整个活动过程中，任何参与者都不会知道其他参与者到底是谁。
        此外，您从活动中得到的所有收益，其他参与者也不会知道。<br>
        我们保证您提供的所有信息将会被严格保密，只会用于科学研究。 .<br>
        <br>
        在活动过程中请不要跟其他人交流。<br>
        活动开始前，请您回答下面的问题：<br>
        <br>
    </p>

    {% formfield player.ethnic_in with label="您的民族是？" %}
    {% formfield player.religion_in with label="您的宗教信仰是？" %}

    <p>
        请耐心等待，等听到工作人员的指示后，再点击<b>“下一步”</b>按钮。<br>
        <br>
    </p>

    {% next_button %}

{% endblock %}