{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    欢迎
{% endblock %}

{% block content %}

    <p>
        欢迎您参与本次活动！
        本次活动的目的是为了理解在与他人互动的过程中人们的决策行为。
        只要参加本次活动，您就能得到 40 元的参与费。
        此外，在参与过程中您还将得到基于您表现的额外报酬（现金）。
        活动过程中您与其他的参与者将会面临一系列决策，
        而您的最终收益取决您和其他参与者在这些决策中所做的决定。<br>
        <br>
        所有本次活动的参与者都将在同一房间里参与实验。在活动过程中，您可能会与其他参与者组成小组参与活动。
        本活动遵循完全匿名原则。也就是说，在整个活动过程中，任何参与者都不会知道其他参与者到底是谁。
        此外，您从本活动中获得的最终报酬我们也会严格保密（其他参与者不会知道）。<br>
        <br>
        本次活动包含两个实验和最后的问卷。<br>
        <br>
        <b>第一</b>部分包含五轮重复实验，每轮实验将由两位不同角色的参与者组成一个小组共同完成。
		您的角色将由电脑随机生成并且在这五轮实验中保持不变。
		需要注意的是，每轮实验开始前您将会与另一位的不同角色的参与者随机配对，所以每轮与您配对的可能是不同的参与者。
		在第一部分实验的最后，我们将随机选取五轮实验中的一轮来计算您在这部分实验中的最终收益。<br>
		<br>
		
        <b>第二</b>部分包含五轮重复实验，每轮实验将由四位参与者组成一个小组共同完成。
		第二部分实验开始时，您将与三名由电脑随机分配的参与者组成一个四人小组。
        需要注意的是，与第一部分实验不同，您所在小组的成员在六轮实验中保持不变。
        在最后计算您的收益时，所有五轮实验的结果都会被纳入计算。 <br>
        <br>
		
        在前两个部分的实验中，您将分别得到一些初始筹码。<br>
        根据您做出的决定，您将赢得额外筹码或失去一些初始筹码。<br>
        在实验完成后，我们会根据 1点筹码={{ exchange_rate }}元 的转换率给您现金报酬。<br>
        最后我们将请您填写一份调查问卷来了解您的一些其他情况。<br>
        我们保证您提供的所有信息将会被严格保密，仅作科学研究之用。 .<br>
        <br>
        在活动过程中请不要跟其他人交流。<br>
        活动开始前，请您回答下面的问题：<br>
        <br>
    </p>

    {% formfield player.ethnic_in with label="您的民族是？（请选择您最有认同感的民族）" %}
    {% formfield player.religion_in with label="您的宗教信仰是？（请选择您最有认同感的宗教信仰）" %}

    <p>
        请耐心等待，等听到工作人员的指示后，再点击<b>“下一步”</b>按钮。<br>
        <br>
    </p>

    {% next_button %}

{% endblock %}