{% extends "global/Instructions_ch.html" %}

{% block instructions %}

<p>
    <b>第一阶段: 公共账户投资</b><br>
    您将与由电脑随机分配的其他三名参与者组成一组进行实验，
    每个人得到{{ Constants.endowment }}个筹码。
    您需要把您得到的{{ Constants.endowment }}个筹码在公共账户和您的私人账户之间分配。
    分配多少筹码给公共账户完全取决于您。
    剩下的筹码将留在您的私人账户上。
    您和组内其他参与者分配给公共账户的所有筹码我们都将乘以{{ Constants.effic_factor }}，作为公共项目的投资回报。
    无论您们分别分配了多少筹码给公共账户，所有公共账户里的筹码将在您们{{ Constants.players_per_group }}个参与者中被平均分配。
    最后您能得到多少筹码取决于您和组内其他参与者的决定。<br>
    <br>
    <b>第二阶段：分配反对筹码</b><br>
    在这一阶段， 您将看到组内其他参与者在前一阶段中分配了多少筹码给公共账户。
    <!--At this stage you can also reduce the income of each group member by distributing disapproval points.<br>-->
    之后您可以决定是否把反对筹码分配给组内其他参与者。
    您每分配一个反对筹码给组内一个参与者，您的收益将减少一个筹码，而收到反对筹码的参与者将损失三个筹码。
    同样的，只要组内其他参与者愿意，他们也可以把反对筹码分配给您。<br>
    <br>
    您需要决定您要给每个组内成员分配多少反对筹码。<br>
    如果您不想给某个组内成员分配反对筹码，请输入<b> 0</b>。<br>
    <!--Each disapproval point a group member receives will reduce his income in {{ Constants.punish_tech }} points.<br>-->
    您最多可以分配{{ Constants.endowment }} 反对筹码给组内其他参与者，也可以一个都不给。
    您分配的反对筹码越多，您需要付出的成本也越高。总成本等于您给组内其他参与者分配的反对筹码数量之和。<br>
    <br>
</p>

{% endblock %}

