{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    第二部分
{% endblock %}

{% block content %}

    <p>
    这是本次活动的<b>第二</b>部分。<br>
    <br>
    在第二部分包含六轮重复实验，每轮实验中您将与由电脑随机分配的其他{{ n_minus_one}}名参与者组成一个小组进行实验，
    每个组员将得到{{ Constants.endowment }}个初始筹码。
	需要注意的是，与第一部分实验不同，您所在小组的成员在六轮实验中保持不变。
    在最后计算您的收益时，所有六轮实验的结果都会被纳入计算。<br>
    <!--These points are in addition to the {{ Constants.showupfee }} Yuan-->
    <!--that you will get as your promised participation fee.<br>-->

    <br>
    <b>第一阶段: 公共账户投资</b><br>
    <br>
    您需要把您得到的{{ Constants.endowment }}个筹码在公共账户和您的私人账户之间分配。
    分配多少筹码给公共账户完全取决于您。
    剩下的筹码将留在您的私人账户上。
    您和组内其他参与者分配给公共账户的所有筹码我们都将乘以{{ Constants.effic_factor }}，作为公共项目的投资回报。
    无论您们分别分配了多少筹码给公共账户，所有公共账户里的筹码将在您们{{ Constants.players_per_group }}个参与者中被平均分配。
    最后您能得到多少筹码取决于您和组内其他参与者的决定。<br>
    <br>
    例如，如果您分配了 {{ endowment_2|floatformat:0 }} 筹码给公共账户，
    而组内其他 {{ n_minus_one }} 参与者总共分配了{{ contrib_others_high|floatformat:0 }} 筹码给公共账户，
    您将从公共账户中得到(21+5) x {{ Constants.effic_factor }} / {{ Constants.players_per_group }}
    = {{ payoff_ex_high|floatformat:1 }} 筹码。
    这些筹码将和您私人账户中的{{ endowment_2|floatformat:0 }}筹码加总，作为您的总收益。<br>
    如果组内其他{{ n_minus_one }} 参与者总共分配了 {{ contrib_others_low|floatformat:0 }} 筹码给公共账户，
    您将从公共账户中得到 (9+5) x {{ Constants.effic_factor }} / {{ Constants.players_per_group }}
    = {{ payoff_ex_low|floatformat:1 }}筹码。
    这笔筹码将和您私人账户中的{{ endowment_2|floatformat:0 }}筹码加总，作为您的总收益。<br>

    <br>
    <b>第二阶段：分配反对筹码</b><br>
    <br>
    在这一阶段， 您将看到组内其他参与者在前一阶段中分配了多少筹码给公共账户。
    <!--At this stage you can also reduce the income of each group member by distributing disapproval points.<br>-->
    之后您可以决定是否把反对筹码分配给组内其他参与者。
    您每分配一个反对筹码给组内一个参与者，您将损失一个筹码，而收到反对筹码的参与者将损失三个筹码。
    同样的，只要组内其他参与者愿意，他们也可以把反对筹码分配给您。<br>
    <br>
    您需要决定您要给每个组内成员分配多少反对筹码。<br>
    如果您不想给某个组内成员分配反对筹码，请输入<b> 0</b>。<br>
    <!--Each disapproval point a group member receives will reduce his income in {{ Constants.punish_tech }} points.<br>-->
    您最多可以分配{{ Constants.endowment }} 反对筹码给组内其他参与者，也可以一个都不分配。
    您分配的反对筹码越多，您需要付出的成本也越高。总成本等于您给组内其他参与者分配的反对筹码数量之和。<br>
    <br>
    例如， 如果您决定分别给组内其他参与者分配 0,1,1 个反对筹码，<br>
        而您总共收到了来自组内其他成员的1个反对筹码，<br>
        您的总收益将减少5：您支付了2个筹码来投2个反对筹码给其他成员，另外，您因为收到一个反对筹码而损失三个筹码。<br>
    <br>
    </p>

    {% next_button %}

{% endblock %}