{% extends "global/Base.html" %} {% load staticfiles otree_tags %}

{% block title %}
    First Stage: Allocation to the Public Fund<br>
    Round {{ subsession.round_number }} of {{ Constants.num_rounds }} <br>
{% endblock %}

{% block content %}

<p>
    We are at the stage of allocation to the public fund.<br>
    The ethnicity of the other group members is 
    {{ player.get_others_in_group.0.get_ethnicity }}, {{ player.get_others_in_group.1.get_ethnicity }} and 
    {{ player.get_others_in_group.2.get_ethnicity }}.
    <br>
    Please make your choice.<br>
</p>

    {% formfield player.contribution with label="How many points do you want to allocate in the public fund?" %}

    <p>
        Please click the blue button <b>"next"</b> once you make your decision.<br>
        <br>
    </p>

    {% next_button %}

    {% if subsession.round_number > 1 %}
        {% include 'pgfield/History_pg.html' %}
    {% endif %}

    {% include 'pgfield/Instructions.html' %}

{% endblock %}
