{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Solution to Understanding Question
{% endblock %}

{% block content %}

    {% if player.question_pg1 == Constants.question_pg1_correct %}
    <p class="text-success">
    Your answer {{player.question_pg1}} for your payoff <b>before</b> the second stage was correct.
    </p>
    {% else %}
    <p class="text-danger">
    Your answer {{player.question_pg1}} for your payoff <b>before</b> the second stage was incorrect.
    </p>
    {% endif %}
        {% if player.question_pg2 == Constants.question_pg2_correct %}
    <p class="text-success">
    Your answer {{player.question_pg2}} for your payoff <b>after</b> the second stage was correct.
    </p>
    {% else %}
    <p class="text-danger">
    Your answer {{player.question_pg2}} for your payoff <b>after</b> the second stage was incorrect.
    </p>
    {% endif %}

    <p>
        Suppose that during the <b>first stage:</b><br>
        You contributed 5 points.<br>
        The other three participants contributed 10, 8 and 1 points, respectively.<br>
        <br>
        Aftwerwards, during the <b>second stage:</b>
        You allocate 1 Disapproval Card.<br>
        One Disapproval Card is assigned to you.<br>
        <br>
    </p>
        What would be your payoff <b>before</b> and <b>after</b> the second stage?<br>
    </p>

    <p>
        <strong>Solution: 17 points <b>before</b> the second stage and 10 points <b>after</b> the second stage</strong>
    </p>

    <p>
        <strong>Explanation:</strong><br>
        Total contribution from all participants was 10+8+5+1=24. Total earnings from the project were 24 x 2 = 48.<br>
        Each participant got an equal share of the earnings, that is, 48/4=12. <br>
        Hence, your payoff <b>before the second stage</b> was 10-5+12=17.<br>
        <br>
        You allocated one Disapproval Card. It decreased your payoff by 2 points.<br>
        One Disapproval Card was allocated to you. It decreased your payoff by 5 points.<br>
        Hence, your payoff <b>after the second stage</b> was 17-2-5=10.<br>
    </p>

    <p>
        <br>
        Please click the blue button <b>"next"</b> once the monitor indicates you to do so.<br>
        <br>
    </p>

    {% next_button %}

    {% include 'pgfield/Instructions.html' %}

{% endblock %}