{% extends "global/Instructions.html" %}

{% block instructions %}

<p>
    <b>First Stage: Allocation to the public fund</b><br>
    You have been matched with three (3) other participants.<br>
    Each group member, including you, has received {{ Constants.endowment }}.<br>
    You decide how many of your {{ Constants.endowment }} you would like to allocate in the public fund.<br>
    That is completely of your choice.<br>
    Every point allocated to the public fund, either by you or by any other group member,
    will be multiplied by {{ Constants.effic_factor }}.<br>
    The points in the public fund will be divided equally among the {{ Constants.players_per_group }} group members.<br>
    Every group member gets from the public fund exactly the same number of points, no matter how many they allocate in this fund.<br>
    <br>
    <b>Second Stage: Allocation of Disapproval Cards</b><br>

    At the beginning of this stage you will see how much each of the other group members contributed to the public fund.<br>
    You decide whether you allocate a Disapproval Card to each group member or not.<br>
    Each Disapproval Card you allocate to others reduces your income in {{ Constants.punish_cost }} points.<br>
    Each Disapproval Card a group member receives will reduce his income in {{ Constants.punish_tech }} points.<br>
    The other group members can also allocate Disapproval Cards to you if the wish to.<br>
    For each group member you need to click on "Yes" or "No" for the allocation of the Disapproval Card.<br>
    The more Disapproval Cards you allocate, the higher your costs.<br>
    <br>
</p>

{% endblock %}

