{% extends "pgfield/Punishment.html" %}
{% load staticfiles otree_tags %}
{% block myform %}
<tr>
    <td align="right">
        {% with player.get_others_in_group.0 as p %}
            Player {{ p.id_in_group }} ({{ p.get_ethnicity }} ethnicity):<td align="center">{{ p.contribution }}
        {% endwith %}
    </td>
    <td align="center">
        {% formfield player.punish_p1 with label="" %}
    </td>
</tr>
<tr>
    <td align="right">
        {% with player.get_others_in_group.1 as p %}
            Player {{ p.id_in_group }} ({{ p.get_ethnicity }} ethnicity):<td align="center">{{ p.contribution }}
        {% endwith %}
    </td>
    <td align="center">
        {% formfield player.punish_p3 with label="" %}
    </td>
</tr>
<tr>
    <td align="right">
        {% with player.get_others_in_group.2 as p %}
            Player {{ p.id_in_group }} ({{ p.get_ethnicity }} ethnicity):<td align="center">{{ p.contribution }}
        {% endwith %}
    </td>
    <td align="center">
        {% formfield player.punish_p4 with label="" %}
    </td>
</tr>
{% endblock %}
