{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    The Public Goods Game
{% endblock %}

{% block content %}

    <p>
    This is the <b>second block</b> of the activity.<br>
    <br>
    In this block you have been matched with {{ n_minus_one}} other participants.<br>
    You have received {{ Constants.endowment }}. Each one of the other {{ n_minus_one }} participants has also received {{ Constants.endowment }}.<br>
    <!--These points are in addition to the {{ Constants.showupfee }} Yuan-->
    <!--that you will get as your promised participation fee.<br>-->

    <br>
    <b>First Stage: Allocation to the public fund</b><br>
    <br>
    You get to decide whether you are going to allocate your points in a public fund or keep them in the private fund.<br>
    You decide how many of your {{ Constants.endowment }} you would like to allocate in the public fund.<br>
    That is completely of your choice.<br>
    The remaining points will remain in your private fund.<br>
    We will double the points that you allocate in the public fund.<br>
    The money allocated by other group members to the public fund will be also doubled.<br>
    The points in the public fund will be divided equally among the {{ Constants.players_per_group }} group members.<br>
    Every group member gets from the public fund exactly the same number of points, no matter how many they allocate in this fund.<br>
    The number of points you receive at the end depends on your decisions and the decisions of the people in your group.<br>
    <br>
    For example, let us suppose that you decide to allocate {{ endowment_2|floatformat:0 }} points to the public fund.<br>
    If the other {{ n_minus_one }} group members allocate in total {{ contrib_others_high|floatformat:0 }} points to the public fund,
    then you will receive (21+5) x {{ Constants.effic_factor }} / {{ Constants.players_per_group }}
    = {{ payoff_ex_high|floatformat:1 }} points from the public fund.<br>
    They will be added to the {{ endowment_2|floatformat:0 }} points that you kept in your private fund for a total of {{ payoff_high|floatformat:0 }} points.<br>
    <br>
    Suppose now that the other {{ n_minus_one }} group members allocate in total {{ contrib_others_low|floatformat:0 }} points to the public fund,
    then you will receive (9+5) x {{ Constants.effic_factor }} / {{ Constants.players_per_group }}
    = {{ payoff_ex_low|floatformat:1 }} points from the public fund.<br>
    They will be added to the {{ endowment_2|floatformat:0 }} points that you kept in your private fund for a total of {{ payoff_low|floatformat:0 }} points.<br>

    <br>
    <b>Second Stage: Allocation of Disapproval Cards</b><br>
    <br>
    At the beginning of this stage you will see how much each of the other group members contributed to the public fund.<br>
    You decide whether you allocate a Disapproval Card to each group member or not.<br>
    Each Disapproval Card you allocate will reduce your income in {{ Constants.punish_cost }} points.<br>
    Each Disapproval Card a group member receives will reduce his income in {{ Constants.punish_tech }} points.<br>
    The other group members can also allocate Disapproval Cards to you if the wish to.<br>
    <br>
    For each group member you need to click on "Yes" or "No" for the allocation of the Disapproval Card.<br>
    The more Disapproval Cards you allocate, the higher your costs.<br>
    <br>
    For example, let us suppose that you decide to allocate 2 Disapproval Cards.<br>
    In addition, let us suppose that 1 Disapproval Card was assigned to you.<br>
    Your payoff will be reduced 9 points in total: 4 points that you spent on allocating Disapproval Cards to 2 other group members,<br>
    plus 5 points deducted from 1 Disapproval Card that was assigned to you.<br>
    <br>
    </p>

    <p>
        Please click the blue button <b>"next"</b> once the monitor indicates you to do so.<br>
        <br>
    </p>
    {% next_button %}

{% endblock %}