{% extends "global/Instructions.html" %}
{% load staticfiles %}

{% block instructions %}

<img src="{% static "trustfield/instructions_trust.png" %}" width="800"/>


{% if player.id_in_group == 1 %}
<p>
    You are Person A, the Sender. You have been matched with Person B, the Receiver.<br>
    You received {{ Constants.endowment }} and Person B received none.<br>
    You decide how many of your {{ Constants.endowment }} you would like to send to person B.<br>
    That is completely of your choice.<br>
    We will triple the amount that you decide to send to person B, and give that money to person B.<br>
    <br>
    Person B will then be asked how much of this tripled money he would like to send back to you.<br>
    Person B can send back some, all or none of the tripled amount.<br>
    The amount sent back will be added to the points you did not sent.<br>
    Person B will keep the remaining of the tripled amount.<br>
    <br>
</p>
{% else %}
<p>
    You are Person B, the Receiver. You have been matched with Person A, the Sender.<br>
    Person A received {{ Constants.endowment }} and you received none.<br>
    Person A decides how many of the {{ Constants.endowment }} he would like to send to you. <br>
    Person A has been given the opportunity to keep it all or send a part or all of it to you.<br>
    That is completely his choice.<br>
    We will triple te amount that person A decided to send to you, and we will give you that money to you.<br>
    <br>
    You will be asked how much of the tripled money you would like to send back to person A.<br>
    You can send back some, all or none of the money you get.<br>
    Any amount that you decide to send back to person A will be added to the he did not sent.<br>
    You will keep the remaining of the tripled amount.<br>
    <br>
</p>
{% endif %}

{% endblock %}