{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Understanding Question
{% endblock %}

{% block content %}
    <p>
        Suppose that participant A sent 30 points to participant B.<br>
        Having received the tripled amount (90 points), participant B sent 50 points to participant A.<br>
        In the end, how many points would participant A and B have?<br>
    </p>

    {% formfield player.question_trustA with label="Participant A would have" %}

    {% formfield player.question_trustB with label="Participant B would have" %}

    <p>
        Please click the blue button <b>"next"</b> once you write your responses.<br>
        <br>
    </p>
    {% next_button %}

    {% include 'trustfield/Instructions.html' %}

{% endblock %}