{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Understanding Question
{% endblock %}

{% block content %}

{% if player.id_in_group == 1 %}

    <p>
        Suppose that you sent 30 points to person B.<br>
        Having received the tripled amount (90 points), person B sent 50 points back to you.<br>
        In the end, how many points would you and person B have?<br>
    </p>

    {% formfield player.question_trustA with label="I would have" %}

    {% formfield player.question_trustB with label="Person B would have" %}

{% else %}

    <p>
        Suppose that person A sent 30 points to you.<br>
        Having received the tripled amount (90 points), you sent 50 points back to person A.<br>
        In the end, how many points would you and person A have?<br>
    </p>

    {% formfield player.question_trustA with label="Person A would have" %}

    {% formfield player.question_trustB with label="I would have" %}

{% endif %}

    <p>
        Please click the blue button <b>"next"</b> once you write your responses.<br>
        <br>
    </p>
    {% next_button %}

    {% include 'trustfield/Instructions.html' %}

{% endblock %}