{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    The Sender-Receiver Game <br>
    {% if player.id_in_group == 1 %}
    You are the Sender
    {% else %}
    You are the Receiver
    {% endif %}
{% endblock %}

{% block content %}

{% if player.id_in_group == 1 %}
<p>
    This is the <b>first block</b> of the activity.<br>
    <br>
    You will be matched with one participant.<br>
    Let us call the person you have been paired with as person 'B'.<br>
    You have received {{ Constants.endowment }} as endowment for each round.<br>
    Person B has not received any endowment.<br>

    <br>
    You decide how many of your {{ Constants.endowment }} you
    would like to send to person B.<br>
    That is completely of your choice.<br>
    We will triple the amount that you decide to send to person B,
    and give that money to person B.<br>
    For example, if you decide to send {{ endowment_2|floatformat:0 }} points to person B,
    person B will get {{ endowment_2x3|floatformat:0 }} points.<br>
    <br>
    Person B will then be asked how much of this tripled money
    he would like to send back to you.<br>
    Person B will be informed about the fact that you have received
    {{Constants.endowment}} to start with.<br>
    Person B can send back some, all or none of the tripled amount.<br>
    The amount sent back will be added to the points you did not sent.<br>
    Person B will keep the remaining of the tripled amount.
    <br>
    You will play this game for five rounds.<br>
    Every round you will be matched with a different participant B.<br>
    You will be informed of the amount sent back by each participant B
    only at the end of the five rounds.<br>
    <br>
</p>
{% else %}
<p>
    This is the <b>first block</b> of the activity.<br>
    <br>
    You will be matched with one participant.<br>
    Let us call the person you have been paired with as person 'A'.<br>
    Person A has received {{Constants.endowment}} as endowment for each round.<br>
    You have not received any endowment.<br>
    <br>
    Person A decides how many of the {{ Constants.endowment }}
    he would like to send to you. <br>
    Person A has been given the opportunity to keep it all or send a part
    or all of it to you.<br>
    That is completely his choice.<br>
    We will triple the amount that person A decided to send to you, and we
    will give you that money to you.<br>
    For example, if person A has sent {{ endowment_2|floatformat:0 }} points to you,
    you will get {{ endowment_2x3|floatformat:0 }} points.<br>
    <br>
    You will be asked how much of the tripled money
    you would like to send back to person A.<br>
    Person A was informed about the fact that you have not received any endowment to start with.<br>
    You can send back some, all or none of the money you get.<br>
    Any amount that you decide to send back to person A will be
    added to the points he did not sent.<br>
    You will keep the remaining of the tripled amount.<br>
    <br>
    You will play this game for five rounds.<br>
    Every round you will be matched with a different participant A.<br>
    Each participant A will be informed of the amount you sent back
    only at the end of the five rounds.<br>
</p>
{% endif %}
    <p>
        Please click the blue button <b>"next"</b> once the monitor indicates you to do so.<br>
        <br>
    </p>
    {% next_button %}

{% endblock %}