{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Solution to Understanding Question
{% endblock %}

{% block content %}

    {% if player.question_trustA == Constants.question_trustA_correct %}
    <p class="text-success">
    Your answer {{player.question_trustA}} for participant A was correct.
    </p>
    {% else %}
    <p class="text-danger">
    Your answer {{player.question_trustA}} for participant A was incorrect.
    </p>
    {% endif %}
    {% if player.question_trustB == Constants.question_trustB_correct %}
    <p class="text-success">
    Your answer {{player.question_trustB}} for participant B was correct.
    </p>
    {% else %}
    <p class="text-danger">
    Your answer {{player.question_trustB}} for participant B was incorrect.
    </p>
    {% endif %}

    <p>
        Suppose that participant A sent 30 points to participant B.<br>
        Having received the tripled amount, participant B sent 50 points to participant A.<br>
        In the end, how many points would participant A and B have?<br>
    </p>

    <p>
        <strong>Solution: Participant A would have 70 points and Participant B would have 40 points.</strong>
    </p>

    <p>
        <strong>Explanation:</strong> Participant A first sent 30 points to B. It was tripled thus B received 30*3=90 points.<br>
        Then participant B sent 50 points to A. Participant A received exactly 50 points.<br>
        Hence at last participant A would have 50-30+50=70 points, and participant B would have 90-50=40 points.<br>
    </p>

    {% next_button %}

    {% include 'trustfield/Instructions.html' %}

{% endblock %}